<header>
  <app-header></app-header>
</header>
<section id="hero" aria-label="Introduction Section" data-section="hero">
  <app-hero></app-hero>
</section>
<section id="projects" aria-label="Projects Section" data-section="projects">
  <app-projects></app-projects>
</section>
<section id="skills" aria-label="Skills Section" data-section="skills">
  <app-skills></app-skills>
</section>
<section id="about" aria-label="About Me Section" data-section="about">
      <!-- About content -->
</section>


<section id="contact" aria-label="Contact Section" data-section="contact">
  <!-- Contact form or details -->
</section>
<footer>
  <app-footer></app-footer>
</footer>