<nav (mouseleave)="removeIndicator()">
    <ul class="headerContainer">
        <li (mouseenter)="moveIndicator($event)"><a href="#">Home</a></li>
        <li (mouseenter)="moveIndicator($event)"><a href="#">About</a></li>
        <li (mouseenter)="moveIndicator($event)"><a href="#">Service</a></li>
        <li (mouseenter)="moveIndicator($event)" class="githubContainer">
            <a href="https://github.com/francis-vimal" target="_blank" aria-label="GitHub">
                <img class="githubImg" src="../../../assets/github-logo.png" width="50" height="50" />
            </a>
        </li>
        <li (mouseenter)="moveIndicator($event)"><a href="#">Resume</a></li>
        <li (mouseenter)="moveIndicator($event)"><a href="#">Project</a></li>
        <li (mouseenter)="moveIndicator($event)"><a href="#">Contact</a></li>
        <li class="animationBlock" #animationBlock></li>
    </ul>
</nav>