<div id="footerContainer">
  <div class="footerTopContainer">
    <h2>Let's Connect here</h2>
    <button type="button" mat-button color="primary">Hire me</button>
  </div>
  <hr />
  <div class="footerContentContainer">
    <div class="footerMyDetailsContainer">
      <div class="myDetailsTop">
        <img
          class="githubImg"
          src="../../../assets/github-logo.png"
          width="25"
          height="25"
        />
        <p>VAF</p>
      </div>
      <p>
        Lorum ipsum dolor sit hicuup Lorum ipsum dolor sit hicuup Lorum ipsum
        dolor sit hicuup Lorum ipsum dolor sit hicuup Lorum ipsum dolor sit
        hicuup Lorum ipsum dolor sit hicuup
      </p>
    </div>
    <div class="footerNavContainer">
        <h5>Navigation</h5>
        <a href="#home">Home</a>
        <a href="#aboutme">About Me</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
    </div>
    <div class="footerContactContainer">
        <h5>Contact</h5>
        <p>+91 7708384143</p>
        <p class="email">francisvimal2002@gmail.com</p>
        <p>francis-vimal</p>
    </div>
    <div class="footerFormContainer">
        <h5>Get the latest information</h5>
        <div class="emailFieldContainer">
          <input class="emailField" type="text" placeholder="Email Address" />
          <span class="material-symbols-outlined sendIcon">send</span>
        </div>
    </div>
  </div>
</div>
