<div class="projectsContainer">
    <div class="background leftStar"></div>
    <div class="background centerStar"></div>
    <div class="background rightStar"></div>
    <div class="headerContainer">
        <h2>My <span>Projects</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus nunc, posuere in justo vulputate, bibendm sodales </p>
    </div>
    <div class="slider">
        <div class="projectContentContainer" #sliderContainer>
            <div class="projectContentSvg" *ngFor="let project of projects">
                <div class="projectDetailsContainer">
                    <h3>{{project.title}}</h3>
                </div>
                <div>

                    <div [style.backgroundImage]="'url(' + project.img + ')'" class="horizontalRect"></div>
                    <div [style.backgroundImage]="'url(' + project.img + ')'" class="horizontalRectBorder"></div>
                    <div [style.backgroundImage]="'url(' + project.img + ')'" class="verticalRect"></div>
                </div>
                 <a [href]="project.link" target="_blank">
                    <div class="navArrow">
                        <span class="material-symbols-outlined navIcon">
                            arrow_outward
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="dotContainer">
        <div *ngFor="let dots of dotsArray, let i = index" [class.active]="i === activeDotIndex" class="dot" (click)="onDotClick(i)"></div>
    </div>
</div>