@import '../../../variables';

.projectsContainer {
    width: 100%;
    height: 650px;
    background-image: url("../../../assets/projects_background.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 60px 60px 0 0;
    margin-bottom: 30px;
    overflow: hidden;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerContainer h2 {
    flex: 1 1 60%;
    color: white;
    padding: 50px;
    font-size: 36px;
    margin: 0;
}

.headerContainer h2 span {
    color: $primary-color
}

.headerContainer p {
    flex: 1 1 40%;
    color: white;
    padding-right: 50px;
}

.projectDetailsContainer {
    width: 100%;
    height: 180px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.projectContentContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.projectContentContainer h3 {
    color: white;
    padding: 30px 30px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectDetailsContainer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    background: #9E9D9D;
    width: 90%;
    height: 40px;
    border-radius: 20px;
}

.projectDetailsContainer:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    background: rgba(128, 128, 128, 0.3);
    width: 80%;
    height: 60px;
    border-radius: 20px;
}

.navArrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    background-color: #1D2939;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navArrow .navIcon {
    font-size: 40px;
    color: white;
}

.horizontalRect {
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: grey;
    bottom: 110px;
    border-radius: 0 0 50px 0;
}

.horizontalRectBorder {
    position: absolute;
    width: 76%;
    height: 160px;
    background-color: grey;
    z-index: 10;
    bottom: 80px;
    /* ✨ MASK TO REMOVE BOTTOM-RIGHT CORNER */
    -webkit-mask-image: 
      radial-gradient(circle at bottom right, transparent 30px, black 30px);
    mask-image: 
      radial-gradient(circle at bottom right, transparent 30px, black 30px);
    -webkit-mask-composite: destination-out; /* For Chrome */
    mask-composite: exclude;                 /* For Firefox */
}

.verticalRect {
    position: absolute;
    width: calc(100% - 110px);
    height: 240px;
    background-color: grey;
    right: 110px;
    bottom: 0;
    border-radius: 0 0 50px 0;
    background-position-y: -250px;
}

.horizontalRect, .horizontalRectBorder, .verticalRect {
    background-size: 500px 250px;
    background-position: -50px 0;
    border-radius: 30px;
    z-index: 2;
}

.projectContentSvg {
    position: relative;
    aspect-ratio: 5 / 6;
    border-radius: 30px;
    max-width: 500px;
    min-width: 330px;
    height: 400px;
    overflow: hidden;
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inactive {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}